<p>
  login works!
</p>
<div class="row">
  <div class="col-1"></div>
  <div class="col-4">
    <form
      [formGroup]="loginForm"
      *ngIf="loginForm"
      (submit)="save()"
    >
      <div class="row">
        <div class="form-group">
          <label class="input">
            <input
              class="form-control"
              name="email"
              type="email"
              formControlName="email"
              placeholder="email"
            />
          </label>
        </div>

        <div class="form-group">
          <label class="input">
            <input
              class="form-control"
              name="password"
              type="password"
              formControlName="password"
              placeholder="password"
            />
          </label>
        </div>


      </div>

      <div class="form-group">
        <input
          class="form-control"
          name="rememberme"
          type="checkbox"
          formControlName="rememberme"
          placeholder="password"
        />
      </div>

      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!(loginForm.valid && loginForm.valid)"
        >
          Login
        </button>
      </div>

    </form>
    <div *ngIf="error">
      <h5>Error: </h5>{{error}}
    </div>
  </div>
</div>
