<p>
  products works!
</p>
<div class="row">
  <div class="col-1"></div>
  <div class="col-4">
    <a
      [routerLink]="['/products/add']"
      routerLinkActive="active"
      class="btn btn-primary btn-sm"
    >Add Product</a>

    <div *ngFor="let prod of products$ | async">
      <div class="card">
        <h5>Name : </h5>{{prod.name}}
        <h5>Price : </h5>{{prod.price}}
      </div>
    </div>
    <div *ngIf="(products$ | async)?.length < 1">
      <h5>Error: </h5>{{error}}
    </div>
  </div>
</div>

